.main {
  max-width: 46rem;
  margin: -1.75rem auto 2rem;
  padding: 0 1rem;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.562rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
